@import 'bourbon/bourbon'; // http://bourbon.io/

@import '../partials/layout'; // responsive grid and media queries

// color palette - these colors will be the color swatches of the Colors section

$color-1: #0C486C; // Dark Blue - Action color
$color-2: #ffffff; // White
$color-3: #00B3CC; // Light Blue

// additional colors

$success: #6fce72; // green
$alert: $color-3;  // Light Blue

// fonts

$primary-font: 'Titillium Web', sans-serif;
$secondary-font: 'Roboto', sans-serif;

/* --------------------------------

xBackground

-------------------------------- */

body {
	/* this is the page background */
	background-color: $color-2;
	font-family: $secondary-font;
}

/* --------------------------------

xPatterns

-------------------------------- */

.cd-box {
	/* this is the container of various design elements - i.e. the 2 logo of the branding section */
	border: 1px solid $color-2;
	border-radius: 3px;
	background: $color-2;
	box-shadow: 0 1px 1px rgba(#000, .05);
	padding: 6px;
}

/* --------------------------------

xNavigation

-------------------------------- */

header {
	background-color: $color-2;
}

.cd-logo {
	/* logo box style */
	background-color: $color-2;
	width: 120px;

	@include MQ(M) {
		width: 180px;
	}
}

.cd-main-nav {
	/* main navigation background color - full screen on small devices */
	background: $color-2;

	li a {
		color: $color-2;
		border-color: $color-2;
	}

	@include MQ(M) {
		li a {
			color: $color-1;

			&.selected {
				color: $color-3;
				box-shadow: 0 2px 0 $color-3;
			}

			.no-touch &:hover {
				color: $color-3;
			}
		}
	}
}

.cd-nav-trigger span {
	/* hamburger menu */
	background-color: $color-2;

	&::before,
	&::after {
		/* upper and lower lines */
		background-color: $color-2;
	}
}

.nav-is-visible .cd-nav-trigger span {
	/* hide line in the center on mobile when nav is visible */
	background-color: rgba($color-2, 0);

	&::before, &::after {
		/* preserve visibility of upper and lower lines - close icon */
		background-color: rgba($color-2, 1);
	}
}

.cd-download {
	/* download button top-right visible on big devices */
	background-color: $color-2;

	.no-touch &:hover {
		background-color: $color-3;
	}

	span {
		/* tooltip */
		background: $color-2;
		color: $color-2;

		&::before {
			/* right arrow color */
			border-color: $color-1;
		}
	}
}

/* --------------------------------

xPage title

-------------------------------- */

main > h1 {
	color: $color-1;

	@include MQ(L) {
		/* title goes into the header on big devices */
		color: $color-1;
	}
}

/* --------------------------------

xTypography

-------------------------------- */

h1, h2, h3, h4, h5, h6 {
	font-family: $primary-font;
	color: $color-1;
}

p {
	font-family: $secondary-font;
	color: $color-1;
}

h1 {
	font-size: 3.2rem;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 1.2;
	margin: 0 0 .4em;

	@include MQ(S) {
		font-size: 4rem;
	}

	@include MQ(M) {
		font-size: 5.2rem;
	}
}

h2 {
		line-height: 2.5rem;
		font-size: 2.3rem;
		text-transform: uppercase;
		font-weight: 900;

		@include MQ(S) {
			font-size: 3.1rem;
			line-height: 2.8rem;
		}

		@include MQ(M) {
			font-size: 4.2rem;
			line-height: 3.8rem;
		}
}

h3 {
		line-height: 1.8rem;
		font-size: 2.0rem;
		text-transform: uppercase;
		font-weight: 900;

		@include MQ(S) {
			font-size: 2.4rem;
			line-height: 1.8rem;
			margin: 1em 0 1.4em;
		}

		@include MQ(M) {
			font-size: 3.3rem;
			line-height: 2.9rem;
		}
}

h4 {
		line-height: 1.5rem;
		font-size: 1.7rem;
		text-transform: uppercase;
		font-weight: 900;

		@include MQ(S) {
			font-size: 2.0rem;
			line-height: 1.8rem;
			margin: 1em 0 1.4em;
		}

		@include MQ(M) {
			font-size: 2.8rem;
			line-height: 2.5rem;
		}
}

section > h1::before {
	/* number before each section title */
	color: $color-1;
}

p {

	font-size: 1.3rem;
	line-height: 1.8rem;
	color: $color-1;

	a {
		color: $color-1;
		border-bottom: 1px solid;
		border-bottom-color: $color-3;

		&:hover {
			color: $color-3;
		}
		&:visited {
			color: $color-3;
		}

	}
	
	b {
		font-weight: bold;
	}

	@include MQ(S) {
		font-size: 1.6rem;
		line-height: 1.8rem;
	}
	@include MQ(M) {
		font-size: 2.8rem;
		line-height: 3.9rem;
	}
}


/* --------------------------------

xButtons

-------------------------------- */

.btn {
	border: none;
	box-shadow: none;
	border-radius: .50em;
	font: {
		size: 1.4rem;
		family: $secondary-font;
	}
	color: $color-2;
	padding: 0.5em 1.8em;
	cursor: pointer;
	background: $color-1;
	border: 1px solid $color-3;

	&:focus {
		outline: none;
	}

	.no-touch &:hover {
		background: lighten($color-1, 5%);
	}

	&.btn-success {
		background: $success;

		.no-touch &:hover {
			background: lighten($success, 5%);
		}
	}

	&.btn-alert {
		color: $color-2;
		background: transparent;
		border: solid $color-2;
		background: $color-1;
		display: inline-block;
		text-decoration: none;
		transition: all 300ms ease-in-out;


	.no-touch &:hover {
		color: $color-1;
		background: $color-2;
		border: 3px solid $color-2;
		}
	}

	&.btn-outline {
			color: $color-1;
			background: transparent;
			display: inline-block;
			text-decoration: none;
			transition: all 300ms ease-in-out;

		.no-touch &:hover {
			color: $color-3;
			background: $color-2;
			border: 3px solid $color-3;
		}
	}

	@include MQ(S) {
		font-size: 2.6rem;
		border: 3px solid $color-1;
	}
}

.cd-buttons .cd-box:nth-of-type(2) span {
	/* CSS class name color */
	color: $color-1;
}

/* --------------------------------

xIcons

-------------------------------- */

.cd-icons li {
	/* icons size */
	width: 25px;
	height: 25px;

	@include MQ(S) {
		width: 40px;
		height: 40px;
	}

	@include MQ(M) {
		width: 56px;
		height: 56px;
	}
}

/* --------------------------------

xForm

-------------------------------- */

input[type=text], select {
	border: 1px solid $color-3;
	border-radius: .25em;
	background: $color-2;

	&:focus {
		outline: none;
	}
}

input[type=text] {
	padding: .6em 1em;
	box-shadow: inset 1px 1px rgba(#000, .03);

	&.success {
		border-color: $success;
		box-shadow: 0 0 6px rgba($success, .2);
	}

	&.alert {
		border-color: $alert;
		box-shadow: 0 0 6px rgba($alert, .2);
	}

	&:focus {
		border-color: $color-1;
		box-shadow: 0 0 6px rgba($color-1, .2);
	}
}

input[type=radio],
input[type=checkbox] {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
}

.radio-label,
.checkbox-label {
	padding-left: 24px;
	@include user-select(none);

	&::before,
	&::after {
		/* custom radio and check boxes */
		content: '';
		display: block;
		width: 16px;
		height: 16px;
		position: absolute;
		top: 50%;
		@include transform(translateY(-50%));
	}

	&::before {
		left: 0;
		border: 1px solid $color-1;
		box-shadow: inset 1px 1px rgba(#000, .03);
	}

	&::after {
		left: 3px;
		background: url('../assets/form/icon-check.svg') no-repeat center center;
		display: none;
	}
}

.radio-label::before {
	border-radius: 50%;
}

.checkbox-label::before {
	border-radius: 3px;
}

input[type=radio]:checked + label::before,
input[type=checkbox]:checked + label::before {
	background-color: $color-3;
	border: none;
	box-shadow: none;
}

input[type=radio]:checked + label::after,
input[type=checkbox]:checked + label::after {
	display: block;
}

.cd-select::after {
	/* switcher arrow for select element */
	content: '';
	position: absolute;
	z-index: 1;
	right: 14px;
	top: 50%;
	@include transform(translateY(-50%));
	display: block;
	width: 16px;
	height: 16px;
	background: url('../assets/form/icon-select.svg') no-repeat center center;
	pointer-events: none;
}

select {
	position: relative;
	padding: .6em 2em .6em 1em;
	cursor: pointer;
	@include appearance(none);
}

@import '../partials/basic-style';

